body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Montserrat;
}

p {
  margin: 0;
}

.mainBlock {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  max-width: 500px;
  background-color: aliceblue;
}

.userNameForm {
  display: flex;
  height: 6%;
  width: 100%;
  border-bottom: 3px solid rgb(0, 54, 134);
}

.userNameInput {
  width: 100%;
  border: 0;
  padding-left: 7px;
}

.userNameInput:focus-visible {
  outline: 0;
}

.sendUserNameBtn {
  border: 0;
  cursor: pointer;
}

.chatBlock {
  height: 100%;
  overflow: auto;
  padding: 7px;
}

.message {
  max-width: 70%;
  margin-bottom: 20px;
  word-wrap: break-word;
  line-height: 1.35em;
}

.messageName {
  font-size: 18px;
}

.messageText {
  max-width: fit-content;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: #d2a01ba1;
  display: block;
}

.myMessage {
  display: block;
  max-width: 70%;
  width: fit-content;
  padding: 8px;
  margin: 0 10px 20px auto;
  border-radius: 10px;
  font-size: 14px;
  background-color: #56d80494;
}

.myMessageName {
  font-size: 18px;
}

.myMessageText {
  margin: 0 10px 0 0;
  text-align: left;
  background-color: #56b1da4f;
}

.messageForm {
  display: flex;
  flex-wrap: nowrap;
  height: 7%;
  width: 100%;
  border-top: 3px solid rgb(0, 54, 134);
}

.messageInput {
  height: 100%;
  width: 100%;
  padding: 0;
  border: 0;
  padding: 0 5px 0;
  font-size: 17px;
}

.messageInput:focus-visible {
  outline: 0;
}

.sendMessageBtn {
  height: 100%;
  border: 0;
  cursor: pointer;
}
